.advantages {
  font-family: "PT Sans", sans-serif;
  font-size: 18px;
  line-height: 26px;
  text-transform: uppercase;
  color: #000000;
  background-color: #ffffff;
  margin: 0;
  margin-bottom: 33px;
}

.advantages__header {
  background-image: url("../../img/background-image-small.jpg");
  background-repeat: no-repeat;
  margin: 0;
  margin-bottom: 27px;
}

.advantages__slogan {
  font-weight: 700;
  font-size: 21px;
  color: #333333;
  margin: 0;
}

.advantages__intro {
  font-weight: 400;
  margin-bottom: 27px;
}

.advantages__list {
  background-color: #ffffff;
  margin-top: 0;
}

.advantages__item--first {
  color: #ffffff;
  background-color: #81b3d2;
  background-image: url("../../img/photo-city-small.jpg");
  background-repeat: no-repeat;
}

.advantages__title {
  font-weight: 21px;
  margin: 0;
  margin-top: 55px;
}

.advantages__number,
.advantages__description {
  font-weight: 18px;
  margin: 0;
  margin-top: 21px;
}

.advantages__description {
  margin-bottom: 39px;
}

.advantages__list--unsorted {
  color: #000000;
}

.advantages__item--second {
  color: #ffffff;
  background-color: #81b3d2;
  background-image: url("../../img/devil\'s-bridge-small.jpg");
  background-repeat: no-repeat;
}

.advantages__item--third {
  background-color: #eeeeee;
}

.advantages__item--fourth {
  background-color: #eeeeee;
}

.advantages__item--fifth {
  background-color: #eeeeee;
}
