.feedback {
  background-image: url("../../img/background-image-small.jpg");
  background-repeat: no-repeat;
  margin: 0;
  margin-bottom: 27px;
}

.feedback__title {
  margin: 0;
}

.feedback__subtitle {
  margin-top: 52px;
  margin-bottom: 16px;
  color: #333333;
}

.feedback-form {
  margin: 0;
  margin-top: 20px;
}

.feedback__group:last-of-type {
  margin-bottom: 25px;
}

.feedback__group {
  margin: 0;
  margin-top: 20px;
}

.feedback__info {
  color: #333333;
  font-size: 14px;
}

.feedback__field {
  font-weight: 700;
  color: #000000;
}

.feedback__submit {
  font-weight: 700;
  font-size: 21px;
  text-transform: uppercase;
  color: #ffffff;
  background-color: #81b3d3;
  margin: 0;
  margin-bottom: 48px;
}
