.map {
  width: 320px;
  margin: 0 auto;
  padding: 0;

  @media (min-width: @tablet-width) {
    width: 768px;
    margin-bottom: 36px;
  }

  @media (min-width: @desktop-width) {
    width: 1200px;
  }
}

.map__title {
  margin: 0;
  padding: 0;
}

.map iframe {
  border: none;
  display: block;

  @media (min-width: @tablet-width) {
    width: 760px;
  }

  @media (min-width: @desktop-width) {
    width: 1200px;
  }
}
