.page-form {
  width: 320px;
  font-family: "PT Sans", sans-serif;
  font-size: 18px;
  line-height: 26px;
  text-transform: uppercase;
  color: #000000;
  background-color: #ffffff;
  margin: 0 auto;

  @media (min-width: @tablet-width) {
    width: 768px;
  }

  @media (min-width: @desktop-width) {
    width: 1200px;
  }
}

.page-form__logo-wrapper {
  height: 158px;
  background-image: url("../img/triangle-big.svg"), url("../img/background-image-small@1x.jpg");
  background-position: bottom, bottom;
  background-size: 1200px 57px, 320px 389px;
  background-repeat: no-repeat;
  margin-bottom: 36px;

  @media (min-resolution: 2dppx) {
    background-image: url("../img/triangle-big.svg"), url("../img/background-image-small@2x.jpg");
    background-size: 1200px 57px, 320px auto;
  }

  @media (min-width: @tablet-width) {
    height: 290px;
    background-image: url("../img/triangle-big.svg"), url("../img/background-image-middle@1x.jpg");
    background-size: 1200px 57px, 100% auto;
    margin-bottom: 63px;

    @media (min-resolution: 2dppx) {
      background-image: url("../img/triangle-big.svg"), url("../img/background-image-middle@2x.jpg");
      background-size: 1200px 57px, 100% auto;
    }
  }

  @media (min-width: @desktop-width) {
    height: 301px;
    background-image: url("../img/triangle-big.svg"), url("../img/background-image-big@1x.jpg");
    background-size: 1200px 57px, 100% auto;
    margin-bottom: 114px;

    @media (min-resolution: 2dppx) {
      background-image: url("../img/triangle-big.svg"), url("../img/background-image-big@2x.jpg");
      background-size: 1200px 57px, 100% auto;
    }
  }
}

.page-form__logo {
  height: 158px;
  background-image: url("../img/sedona-big.svg");
  background-repeat: no-repeat;
  background-position: 45px 51px;
  background-size: 229px 39px;

  @media (min-width: @tablet-width) {
    height: 290px;
    background-size: 461px, 350px;
    background-position: 51% 45%;
  }

  @media (min-width: @desktop-width) {
    height: 301px;
    background-position: 50% 46%;
  }
}
