.page-header {
  display: flex;
  width: 320px;
  font-family: "PT Sans", sans-serif;
  font-size: 18px;
  line-height: 26px;
  font-weight: 700;
  text-transform: uppercase;
  background-color: #ffffff;
  margin: 0 auto;


  @media (min-width: @tablet-width) {
    width: 768px;
    font-size: 14px;
  }

  @media (min-width: @desktop-width) {
    width: 1200px;
  }
}
