.page-footer {
  width: 320px;
  display: flex;
  flex-direction: column;
  margin: 0 auto;
  padding: 0;
  font-family: "PT Sans", sans-serif;
  font-weight: 400;
  font-size: 18px;
  line-height: 26px;
  text-transform: uppercase;
  color: #000000;
  background-color: #ffffff;

  @media (min-width: @tablet-width) {
    display: flex;
    justify-content: space-between;
    flex-direction: row;
    width: 663px;
  }

  @media (min-width: @desktop-width) {
    width: 976px;
  }
}

.page-footer__blog {
  width: 166px;
}

.page-footer a {
  color: #000000;
}
