.search {
  width: 320px;
  font-family: "PT Sans", sans-serif;
  font-size: 18px;
  line-height: 26px;
  text-transform: uppercase;
  color: #000000;
  background-color: #ffffff;
  margin: 0 auto;
  padding: 0;

  @media (min-width: @tablet-width) {
    width: 768px;
  }

  @media (min-width: @desktop-width) {
    width: 1200px;
  }
}

.search__wrapper {
  display: flex;
  flex-wrap: wrap;
  text-align: center;
  grid-template-columns: 320px;
  margin: 0 auto;

  @media (min-width: @tablet-width) {
    width: 768px;
  }

  @media (min-width: @desktop-width) {
    width: 1200px;
  }
}

.search__title {
  text-align: center;
  font-size: 21px;
  line-height: 26px;
  margin: 0 auto;
  margin-top: 36px;
  margin-bottom: 20px;

  @media (min-width: @tablet-width) {
    width: 768px;
    font-size: 30px;
    margin-top: 56px;
    margin-bottom: 34px;
    padding: 0;
  }

  @media (min-width: @desktop-width) {
    margin-bottom: 33px;
  }
}

.search__text {
  font-size: 14px;
  line-height: 24px;
  margin: 0 auto;
  margin-bottom: 29px;
  padding-left: 25px;
  padding-right: 25px;

  @media (min-width: @tablet-width) {
    width: 435px;
    padding: 0;
    margin-bottom: 38px;
    text-indent: -1px;
  }

  @media (min-width: @desktop-width) {
    margin-bottom: 44px;
  }
}

.search__text br {
  @media (max-width: @mobile-width-only) {
    display: none;
  }

  @media (min-width: @tablet-width) {
    display: block;
  }
}

.search__hotel-button {
  display: block;
  width: 280px;
  font-weight: 700;
  font-size: 21px;
  line-height: 26px;
  color: #ffffff;
  background-color: #81b3d2;
  text-align: center;
  text-decoration: none;
  margin: 0 auto;
  margin-right: 20px;
  margin-left: 20px;
  margin-bottom: 50px;
  padding-top: 14px;
  padding-bottom: 17px;

  &:hover {
    color: #ffffff;
    background-color: #669ec0;
  }

  &:active {
    color: fade(#ffffff, 30%);
    background-color: #5496bd;
  }

  @media (min-width: @tablet-width) {
    width: 458px;
    margin: 0;
    margin-right: 155px;
    margin-left: 155px;
    margin-bottom: 59px;
  }

  @media (min-width: @desktop-width) {
    width: 458px;
    margin-left: 371px;
    margin-bottom: 66px;
  }
}
