.search {
  font-family: "PT Sans", sans-serif;
  font-size: 18px;
  line-height: 26px;
  text-transform: uppercase;
  color: #000000;
  background-color: #ffffff;
  margin: 0;
}

.search__title {
  font-size: 21px;
}

.search__text {
  margin-bottom: 27px;
}

.search__hotel {
  font-weight: 700;
  font-size: 21px;
  color: #ffffff;
  background-color: #81b3d2;
  margin-bottom: 50px;
}
