.search {
  width: 320px;
  font-family: "PT Sans", sans-serif;
  font-size: 18px;
  line-height: 26px;
  text-transform: uppercase;
  color: #000000;
  background-color: #ffffff;
  margin: 0 auto;
  padding: 0;

  @media (min-width: @tablet-width) {
    width: 768px;
  }

  @media (min-width: @desktop-width) {
    width: 1200px;
  }
}

.search__wrapper {
  display: flex;
  flex-wrap: wrap;
  text-align: center;
  grid-template-columns: 320px;
  margin: 0 auto;

  @media (min-width: @tablet-width) {
    width: 768px;
  }

  @media (min-width: @desktop-width) {
    width: 1200px;
  }
}

.search__title {
  text-align: center;
  font-size: 21px;
  line-height: 26px;
  margin: 0 auto;
  margin-top: 38px;
  margin-bottom: 34px;
  padding-left: 30px;
  padding-right: 30px;

  @media (min-width: @tablet-width) {
    width: 768px;
    padding: 0;
  }
}

.search__text {
  font-size: 13px;
  line-height: 26px;
  margin: 0 auto;
  margin-bottom: 35px;
  padding-left: 30px;
  padding-right: 30px;

  @media (min-width: @tablet-width) {
    width: 435px;
    padding: 0;
  }
}

.search__hotel-button {
  display: block;
  width: 280px;
  font-weight: 700;
  font-size: 21px;
  line-height: 26px;
  color: #ffffff;
  background-color: #81b3d2;
  text-align: center;
  text-decoration: none;
  margin: 0 auto;
  margin-right: 20px;
  margin-left: 20px;
  margin-bottom: 50px;
  padding-top: 14px;
  padding-bottom: 17px;

  &:hover {
    color: #ffffff;
    background-color: #669ec0;
  }

  &:active {
    color: fade(#ffffff, 30%);
    background-color: #5496bd;
  }

  @media (min-width: @tablet-width) {
    width: 435px;
    margin: 0;
    margin-left: 155px;
    margin-bottom: 58px;
  }

  @media (min-width: @desktop-width) {
    width: 435px;
    margin-left: 371px;
    margin-bottom: 66px;
  }
}
