.social__list {
  display: flex;
  justify-content: center;
  margin: 0;
  padding: 0;
  list-style: none;

  @media (min-width: @tablet-width) {
    display: flex;
    justify-content: space-evenly;
  }
}

.social__item {
  margin-right: 6px;
}

.social__item:last-child {
  margin-right: 0;
}

.social__list a {
  font-family: "PT Sans", sans-serif;
  font-weight: 400;
  font-size: 14px;
  line-height: 26px;
  text-transform: none;
  text-decoration: none;
}

.social__link {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 48px;
  height: 46px;
  text-align: center;
  background-color: #81b3d2;
  fill: #ffffff;

  &:hover {
    background-color: #669ec0;
  }

  &:active {
    background-color: #5496bd;
    fill: fade(#ffffff, 30%);
  }
}
